
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
dump.rdb


# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript
